# Исключаем виртуальное окружение
ve/

# Исключаем другие возможные названия виртуальных окружений
veokr/
env/

# Исключаем кэш Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем файлы настроек IDE
.vscode/
.idea/

# Исключаем логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# Исключаем файлы зависимостей
*.egg-info/
/dist/
/build/

# Исключаем файлы конфигурации и секреты
.env
.secrets
config.py

# Исключаем файлы базы данных (если используются)
*.db
*.sqlite3

# Исключаем Jupyter Notebook checkpoint
.ipynb_checkpoints/
